
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--text_primary);font-family: 'Noto Sans Georgian', sans-serif;
}
 a {
    text-decoration: none;
 }

 .container {
    padding: 0 120px;
 }
 button {
    color: var(--white_100);
    font-size: 14px;
    font-weight: 600;
    padding: 12px 28px;
    line-height: 24px;
    outline: none;
    border: none;
    background: var(--primary);
    border-radius: 16px;
}
h3 {
    color: var(--text_secondary);
    font-size: 24px;
    line-height: 36px;
}
.hero {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: content-box;
    
        .logo {
            padding: 24px 0;
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 25px;
                color: var(--logo_text);
                font-weight: 900;
            }
            i {
                color: var(--primary)
            }
        }
    
        .menu {
            display: flex;
            align-items: center;
            gap: 40px;
            a {
                color: var(--nav_text);
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                cursor: pointer;
            }
        .mobile-menu-btn {
                display: none;
            }
        }
    
        .ctas {
            display: flex;
            align-items: center;
            gap: 32px;
            button {
                font-size: 12px;
                line-height: 20px;
                padding: 8px 20px;
                border-radius: 12px;
                display: flex;
                gap: 4px;
                align-items: center;
            }
            .hamburger {
                display: none;
            }
            .theme-switch {
                display: flex;
                align-items: center;
                gap: 8px;
                svg {
                    width: 16px;
                    height: 16px;
                     path {
                        fill: var(--grey_600);
                    }
                    g {
                        stroke: var(--primary)
                    }
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 44px;
                    height: 24px;
                }
                
                .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--primary);
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                
                input:checked + .slider {
                    background-color: var(--primary);
                }
                
                input:focus + .slider {
                    background-color: var(--primary);
                }
                
                input:checked + .slider:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                }
                
                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                    border-radius: 50%;
                }
            }
        }
    }

    .hero-container {
        margin-top: 96px;
    }
    .display-text {
        display: grid;
        justify-items: center;
        gap: 32px;
        h1 {
            color: var(--text_secondary);
            font-size: 64px;
            font-weight: 600;
            line-height: 83.2px;
            max-width: 756px;
            text-align: center;
        }
    }
    .hero-imgs {
        height: 506px;
        width: 100%;
        overflow: hidden;
        border-radius: 16px;
        position: relative;
        margin-top: 96px;
        .hero-img {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .hero-google, .hero-clients, .hero-award {
            position: absolute;
            z-index: 1;
        }
        .hero-google {
            width: fit-content;
            top: 0;
            left: 0;
            background-color: var(--bg);
            padding: 9px 10px 9px 10px;
            border-bottom-right-radius: 16px;
            .hero-small-conts {
                padding: 9px 30px 9px 10px;
    
            }
            .hero-google-logo {
                display: flex;
                align-items: center;
                img {
                    width : 100px;
                }
                 p {
                    margin-left: -8px;
                    font-size: 12px;
                 }
            }
            .hero-google-stars {
                img {
                    width: 16px;
                }
            }
        }

        .hero-award {
            top: 0;
            right: 0;
            text-align: center;
            color: var(--white_100);
        }

        .hero-small-conts {
            background: var(--hero-img-card);
            padding: 9px 12px;
            border-radius: 16px;
            display: flex;
            gap:10px;
            align-items: center;
            box-shadow: 0px 6px 12px -2px rgba(88, 82, 129, 0.08);
        }

        .hero-clients {
            bottom: 0;
            right: 0;
            background-color: var(--bg);
            border-radius: 16px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            padding: 9px 12px;
            .hero-client-img {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 3px solid var(--bg);
                    object-fit: cover;
                    margin-left: -25px;
                }
                img:first-child {
                    margin-left: 0;
                }
            }
            .hero-client-text {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.logos {
    .logos-container {
        padding-top: 120px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        img {
            width: 150px;
        };
    }
}