* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--text_primary);
    font-family: 'DM Sans', sans-serif;
}
 a {
    text-decoration: none;
 }

 button {
    color: var(--white_100);
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    line-height: 24px;
    outline: none;
    border: none;
    background: var(--primary);
    border-radius: 12px;
}
h3 {
    color: var(--text_secondary);
    font-size: 24px;
    line-height: 36px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 0 64px;

    .logo {
        padding: 24px 0;
        a {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 25px;
            color: var(--logo_text);
            font-weight: 900;
        }
        svg {
            width: 36px;
            path {
                fill: var(--primary)
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        a {
            color: var(--nav_text);
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }
    .mobile-menu-btn {
            display: none;
        }
    }

    .ctas {
        display: flex;
        align-items: center;
        gap: 32px;
        button {
            font-size: 12px;
            line-height: 20px;
        }
        .hamburger {
            display: none;
        }
        .theme-switch {
            display: flex;
            align-items: center;
            gap: 8px;
            svg {
                width: 16px;
                height: 16px;
                 path {
                    fill: var(--grey_600);
                }
                g {
                    stroke: var(--primary)
                }
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 44px;
                height: 24px;
            }
            
            .switch input { 
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--primary);
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            input:checked + .slider {
                background-color: var(--primary);
            }
            
            input:focus + .slider {
                background-color: var(--primary);
            }
            
            input:checked + .slider:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }
            
            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }
            
            .slider.round:before {
                border-radius: 50%;
            }
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    border: 1px solid var(--border_color);
    padding: 4px 4px 4px 24px;
    border-radius: 18px;
    width: fit-content;
    gap: 5px;
    svg {
        width: 16px;
        height: 16px;
        path {
            fill: var(--placeholder);
        }
    }
    input {
        border: none;
        background: none;
        width: 250px;
    }
    :focus {
        outline: none;
    }
    ::placeholder {
        color: var(--placeholder)
    }
    button {
        padding: 12px 28px;
    }
}

.hero {
    .container {
        margin-top: 96px;
        display: flex;
        align-items: center;
        padding: 0 64px;
        width: 100%;
        height: fit-content;
        .left {
            width: 50%;
            .title {
                max-width: 453px;
                font-size: 64px;
                font-weight: 400;
                color: var(--text_secondary);
            }
            .text {
                max-width: 453px;
                margin: 32px 0 56px;
                font-size: 18px;
                font-weight: 400;
            }
            .contact { max-width: 453px;}
        }
        .right {
            width: 50%;
            height: 100%;
            position: relative;
            .right-container {
                overflow: hidden;
                .extra, .extra1 {
                    position: absolute;
                    background: var(--white_100);
                    height: fit-content;
                    width: 145px;
                    padding: 10px;
                    border-radius: 10px;
                }
                .window {
                    width: 80%;
                    margin: 0 0 0 20%;
                    height: 510px;
                    border-top-right-radius: 120px;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 120px;
                    border-bottom-right-radius: 18px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .extra {
                    left: calc(10%);
                    top: 69px;
                    svg {
                        width: 150px;
                        height: 20px;
                        margin-left: -20px;
                        transform: scale(.1);
                    }
                    p {
                        span {color: var(--primary);}
                    }
                }
                .extra1 {
                    width: 100px;
                    right: -50px;
                    display: grid;
                    gap: 3px;
                    h4 { color: var(--primary); font-weight: 900; font-size: 16px;}
                    p, h5 {
                        font-size: 14px;
                    }
                    bottom: 22px;
                    z-index: 1;

                    span {
                        width: 10px;
                        height: 10px;
                        background: var(--primary);
                        border-radius: 50%;
                        position: absolute;
                        top: -30px;
                        left: calc(50% - 5px);
                    }

                    span::before {
                        content: '';
                        position: absolute;
                        height: 150%;
                        width: 150%;
                        background: var(--white_100);
                        z-index: -1;
                        left: -2.5px;
                        top: -2.5px;
                        border-radius: 50%;
                    }

                }
                
                .extra1::after {
                    content: "";
                    width: 50px;
                    height: 50px;
                    left: calc(50% - 25px);
                    transform: rotate(45deg);
                    top: 0;
                    position: absolute;
                    background: var(--white_100);
                    z-index: -1;
                }
            }

        }
    }
}

.figures {
    width: 100%;
    padding: 0 64px;
    margin-top: 128px;
    .figures_container {
        border-radius: 36px;
        padding: 80px 110px;
        display: flex;
        background: var(--figures_cont_bg);
        justify-content: space-between;
        gap: 160px;
        .figure {
            h5 {
                color: var(--primary);
                font-size: 48px;
                font-weight: 600;
                line-height: 62.4px;
            }
        }
    }
}
p {
    color: var(--text_primary);
    line-height: 24px;
    font-weight: 400px;
}

.services_title {
    display: grid;
    justify-content: center;
    text-align: center;
        gap: 16px;
}
h2 {
    color: var(--text_secondary);
    font-size: 48px;
    line-height: 52px;
}
.services {
    margin-top: 160px;
    .services_container {
        padding: 80px 110px;
        .services_cards {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-top: 40px;
            .service_card {
                background: var(--figures_cont_bg);
                padding: 40px;
                flex: 1 0 32%;
                border-radius: 36px;
                svg {
                    width: 40px;
                    height: 40px;
                    path {
                        fill: var(--warning)
                    }
                }
                h3 {
                    margin: 24px 0 16px;
                }

                .service_card_cta {
                    border-radius: 50%;
                    border: 1px solid var(--primary);
                    width: fit-content;
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin-top: 32px;
                    svg {
                        width: 16px;
                        height: 16px;
                        path {
                            stroke: var(--primary)
                        }
                    }
                }
            }
            .service_card:nth-child(5n) {
                background: var(--primary);
                > * {
                    color: var(--white_100);
                    border-color: var(--white_100);
                }
                .service_card_cta svg path {
                    stroke: var(--white_100);
                }
            }
        }
    };
}

.indust {
    .services_container { 
        display: grid;
        justify-items: center;
        button {
            width: fit-content;
            margin-top: 48px;
        }

        .services_card1 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;
            gap: 25px;
            .service_card {
                flex: 1 0 32%;
                background: var(--figures_cont_bg);
                border-radius: 36px;
                padding-bottom: 40px;
                .service_card_img {
                    width: 416px;
                    height: 298px;
                    border-radius: 36px;
                    border-bottom-right-radius: 0;
                    overflow: hidden;
                    margin-bottom: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h3 {
                    padding: 0 24px 16px;
                }
                ul, li {
                    margin: 0 24px;
                }
            }
        }
    }
}

.companies {
    .companies_logos, .companies_logos1 {
        display: flex;
        gap: 24px;
        max-width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
        margin-top: 40px;
        .companies_logos_logo {
            width: fit-content;
            height: fit-content;
            background: var(--logos_bg);
            padding: 8px 18px;
            border-radius: 24px;
            display: flex;
            align-items: center;
            svg {
              width: 140px;
              height: 100px;
            }
        }
        .companies_logos_logo:first-child {
            margin-left: -150px;
        }
    }
    .companies_logos1 {
        margin-top: 24px;
    }
    .companies_logos1 .companies_logos_logo:first-child {
        margin-left: -80px;
    }
}

.man {
    margin-top: 160px;
    .man_container {
        padding: 80px 110px;
        img {
            width: 50px;
        }
        display: flex;
        .man_left, .man_right {
            flex: 1 0 50%;
            display: flex;
            flex-direction: column;
        }
        .man_left {
            position: relative;
            height: fit-content;
            .man_left_img {
                width: 416px;
                height: 317px;
                background: var(--primary);
                border-radius: 24px;
                border-top-right-radius: 120px;
                position: relative;
                img {
                    position: absolute;
                    width: 270px;
                    left: calc(50% - 135px);
                    bottom: 0;
                    height: 417px;
                }
            }
            h4 {
                color: var(--text_secondary);
                font-size: 32px;
                line-height: 41.6px;
                margin: 32px 0 4px;
            }
            h5 {
                color: var(--border_color);
                font-size: 20px;
                line-height: 30px;;
            }
            p {
                margin-top: 32px;
                max-width: 496px;
                span {
                    color: var(--nav_text);
                    font-weight: 700;
                }
            }
            .man_left_underlay {
                position: absolute;
                opacity: .2;
                left: 0;
                bottom: 39px;
                svg {
                    width: 165px;
                    height: 165px;
                }
            }
        }
        .man_right {
            gap: 24px;
            .man_right_cont {
                background: var(--figures_cont_bg);
                padding: 40px;
                border-radius: 36px;
                position: relative;
                h4, h5 {
                    margin-bottom: 12px;
                    font-size: 20px;
                    line-height: 30px
                }
                h5 {
                    margin-bottom: 0;
                    padding: 13px 16px;
                    background: var(--primary);
                    width: 56px;
                    height: 56px;
                    color: var(--white_100);
                    border-radius: 50%;
                    position: absolute;
                    left: -25px;
                    top: calc(50% - 25px);
                }
            };
        }
    }
}

.test {
    margin-top: 160px;
    .test_cont {
        padding: 80px 110px;
        h2 {
            margin-bottom: 40px;
            text-align: center;
        }
        .test_contents {
            width: 100%;
            overflow-x: scroll;
        }
            .radio {
                display: flex;
                gap: 16px;
                margin-top: 48px;
                justify-content: center;
                .radio_cont {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 12px;
                        width: 12px;
                        background-color: #eee;
                        border-radius: 50%;
                    }
                }
                .radio_cont:hover input ~ .checkmark {
                    background-color: #ccc;
                }
                
                /* When the radio button is checked, add a blue background */
                .radio_cont input:checked ~ .checkmark {
                    background-color: #2196F3;
                }
            }
        .test_cont_te {
            display: flex;
            align-items: flex-start;
            width: 400%;
            gap: 24px;
            .screen {
                display: flex;
                width: 100%;
                gap: 24px;
            }
           /*  .screen:first-child {
                background: red;
            }
            .screen:nth-child(2n) {
                background: green;;
            }
            .screen:nth-child(3n) {
                background: blue;;
            }
            .screen:nth-child(4n) {
                background: yellow;;
            } */
            .pair {
                display: flex;
                flex-direction: column;
                width: 33%;
                gap: 24px;
                .test_card {
                    background: var(--figures_cont_bg);
                    padding: 40px;
                    width: 100%;
                    border-radius: 24px;
                    display: grid;
                    gap: 16px;
                    .test_card_avatar {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        .test_card_avatar_text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.cs {
    margin-top: 160px;
    .cs_cont {
        padding: 80px 110px;
        display: grid;
        justify-items: center;
        h2 {
            margin-bottom: 40px;
            text-align: center;
        }
        .cs_studies {
            display: flex;
            align-items: center;
            gap: 24px;
            .study {
                flex: 1 0 48%;
                padding: 64px;
                background: var(--primary);
                border-radius: 36px;
                height: 562px;
                position: relative;
                overflow: hidden;
                > * {
                    color: var(--white_100);
                }
                svg {
                    width: 20px;
                    height: 20px;
                    path {
                        stroke: #fff
                    }
                }
                img {
                    width: 338px;
                    height: 326px;
                    right: -20px;
                    bottom: 0;
                    position: absolute;
                }
                h3 {
                    margin-bottom: 16px;
                    font-size: 24px;
                    line-height: 33.6px;
                    font-weight: 600px;
                }
                a {
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 16px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 12px 0;
                    margin-top: 40px;
                }
            }
            .study:nth-child(2n) {
                background:lightgrey;
                > * {
                    color: var(--primary);
                }
                svg {
                    path {
                        stroke:var(--primary);
                    }
                }
                img {
                    width: 378px;
                    height: 356px;
                    right: 0px;
                    bottom: 0;
                    transform: rotateX(180deg)
                }
            }
        }

        button {
            background: transparent;
            outline: 1px solid var(--primary);
            color: var(--primary);
            padding: 12px 28px;
            border-radius: 16px;
            margin-top: 42.7px;
            width: fit-content;
        }
       
    };
}

.advert {
    margin-top: 160px;
    background: var(--primary);
    .advert_cont {
        padding: 128px 110px;
        display: flex;
        gap: 112px;
        justify-content: center;
        position: relative;
        .left, .right {
            flex: 1 0 50%;
            max-width: 468px;
            > * {
                color: var(--white_100);
            }
        }
        .left {
            h1 {
                font-size: 64px;
                line-height: 83.2px;
                font-weight: 600;
            }
        }

        .right {
            display: grid;
            align-content: space-between;
            button {
                background: var(--warning)
            }
        }
        .illustration {
            position: absolute;
            bottom: 25px;
            left: 40%;
            z-index: 1;
            svg {                
                width: 150px;
                height: 150px;
                opacity: .7;
                path {
                    fill: var(--warning)
                }
            }
        }
    };
}

.footer {
    .footer_cont {
        padding: 80px 110px 40px;
        display: flex;
        gap: 160px;
        flex-wrap: wrap;
        .one {
            display: flex;
            gap: 36px;
            align-items: flex-start;
            svg {
                width: 36px;
                path {
                    fill: var(--primary)
                }
            }
            p {
                max-width: 196px;
            }
        }
        .two {
            flex: auto;
            display: flex;
            gap: 24px;
            .left {
                width: 196px;
                p { margin-bottom: 8px;}
                a { color: var(--primary); text-decoration: underline}
            }
        }
        .cr {
            span {
                color: var(--grey_600)
            }
        }
    };
}

