* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.caption {
    font-weight: 600;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
}

h2 {
    font-size: 32px;
    line-height: 41.6px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
}

h5 {
    font-size: 20px;
    font-weight: 600px;
    line-height: 28px;
}

button {
    padding: 12px 28px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid var(--btn-border);
    background-color: none;
}

.filled-btn button {
    border-color: var(--btn-filled-border);
    background: var(--primary);
}

.container {
    padding: 0px 120px;
}

.hero {
    background-image: url('../assets/four/yoga/eneko-urunuela-I2YSmEUAgDY-unsplash.jpg');
    width: min(100vw, 1550px);
    height: min(100vh, 928px);
    .nav {
        position: fixed;
        width: 100vw;
        opacity: 1;
        transition: opacity .2s linear;
        z-index: 99999;
        .nav-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 75px;

            .menu {
                display: flex;
                gap: 40px;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: var(--white_100);
                }
            }

            .logo {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 0 50px;
                svg {
                    width: 50px;
                    height: 50px;
                    path {
                        fill: var(--primary)
                    }
                }
                .logo-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 8px;
                    height: 100%;
                    p {
                        font-family: "Fjalla One", sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        color: var(--primary);
                        text-transform: uppercase;
                    }
                    p:first-child {
                        line-height: 10px;
                        font-size: 12px;
                        text-transform: none;
                    }
                }
            }

            .nav-right {
                position: absolute;
                right: 120px;

                .hamburger {
                    display: none;
                }
                .theme-switch {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    svg {
                        width: 16px;
                        height: 16px;
                        path {
                            fill: var(--grey_600);
                        }
                    }
                    svg.active{
                        path {
                        fill: var(--primary);
                    }
                    g {
                        stroke: var(--primary)
                    }
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 44px;
                        height: 24px;
                    }
                    
                    .switch input { 
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                    
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: var(--primary);
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    
                    input:checked + .slider {
                        background-color: var(--primary);
                    }
                    
                    input:focus + .slider {
                        background-color: var(--primary);
                    }
                    
                    input:checked + .slider:before {
                        -webkit-transform: translateX(20px);
                        -ms-transform: translateX(20px);
                        transform: translateX(20px);
                    }
                    
                    /* Rounded sliders */
                    .slider.round {
                        border-radius: 34px;
                    }
                    
                    .slider.round:before {
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}