* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  color: var(--text_primary);

}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.caption {
    font-weight: 600;
}

.xl {
    font-size: 20px; font-weight: 400; line-height: 30px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: var(--text_secondary);
}

h2 {
    font-size: 32px;
    line-height: 41.6px;
    color: var(--text_secondary);
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    color: var(--text_secondary);
}

h5 {
    font-size: 20px;
    font-weight: 600px;
    line-height: 28px;
    color: var(--text_secondary);
}

button {
    padding: 12px 28px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid var(--border_color);
    background: none;
    color: var(--grey_800);
}

.filled-btn {
    border-color: var(--btn-filled-border);
    background: var(--primary);
    color: var(--white_100);
}

.container {
    margin: 0 120px;
}

.hero {
    background-image: url('../assets/four/yoga/eneko-urunuela-I2YSmEUAgDY-unsplash.jpg');
    background-origin: content-box;
    background-size: cover;
    height: min(100vh, 928px);

    .nav {
        position: fixed;
        width: 100vw;
        opacity: 1;
        transition: opacity .2s linear;
        z-index: 99999;
        .nav-cont {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 75px;

            .menu {
                display: flex;
                gap: 40px;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: var(--white_100);
                }
            }

            .logo {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 0 50px;
                svg {
                    width: 50px;
                    height: 50px;
                    path {
                        fill: var(--primary)
                    }
                }
                .logo-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 8px;
                    height: 100%;
                    p {
                        font-family: "Fjalla One", sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        color: var(--primary);
                        text-transform: uppercase;
                    }
                    p:first-child {
                        line-height: 10px;
                        font-size: 12px;
                        text-transform: none;
                    }
                }
            }

            .nav-right {
                position: absolute;
                right: 120px;

                .hamburger {
                    display: none;
                }
                .theme-switch {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    svg {
                        width: 16px;
                        height: 16px;
                        path {
                            fill: var(--grey_600);
                        }
                    }
                    svg.active{
                        path {
                        fill: var(--primary);
                    }
                    g {
                        stroke: var(--primary)
                    }
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 44px;
                        height: 24px;
                    }
                    
                    .switch input { 
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                    
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: var(--primary);
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                    
                    input:checked + .slider {
                        background-color: var(--primary);
                    }
                    
                    input:focus + .slider {
                        background-color: var(--primary);
                    }
                    
                    input:checked + .slider:before {
                        -webkit-transform: translateX(20px);
                        -ms-transform: translateX(20px);
                        transform: translateX(20px);
                    }
                    
                    /* Rounded sliders */
                    .slider.round {
                        border-radius: 34px;
                    }
                    
                    .slider.round:before {
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .hero-cont {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;

        h1 {
            font-size: 80px;
            line-height: 104px;
            text-transform: uppercase;
            margin-bottom: 24px;
            color: var(--white_100);
        }
        p {
            max-width: 504px;
            color: var(--white_60);
        }
        .hero-cta {
            display: flex;
            gap: 16px;
            margin-top: 56px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i {
                color: var(--white_100);
                padding: 16px;
                width: 48px;;
                height: 48px;;
                background: var(--primary);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p {
                color: var(--white_80);
            }
        }
    }
}

.about {
    margin-top: 160px;
    overflow: hidden;
    height: 600px;
    .about-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        h1 {
            max-width: 440px
        }
        p {
            max-width: 416px;
        }
    }
    .about-cont {
        margin-left: 120px;
        display: flex;
        gap: 24px;
        width: fit-content;
        .about-card {
            width: 306px;
            height: 348px;
            overflow: hidden;
            border-radius: 36px;
            padding: 64px 40px;
            background: var(--figures_cont_bg);
            display: grid;
            justify-items: center;
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            svg {
                width: 40px;
                height: 40px;
                path {
                    fill: var(--primary)
                }
            }
            h3 {
                margin: 24px 0 16px;
            }
            p {
                text-align: center;
            }

        }
        .about-card:first-child {
            padding: 0;
        }
    }
}

.classes {
    margin-top: 160px;
    .classes-cont {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        h1 {
            margin-bottom: 16px;
        }
        .class-row {
            margin: 40px 0;
            display: flex;
            gap: 8px;
            justify-content: center;
            button {
                width: calc(100% / 6);
                border-color: transparent;
                cursor: pointer;
                transition: all 1 ease-out;
            }
            .active-class {
                border-color: var(--primary);
                color: var(--primary);
                transition: all 1 ease-in;
            }
        }
        .class-cont {
            width: 100%;
            overflow: hidden;
        }
        .class-contents {
            display: flex;
            width: 500%;
            margin-left: -100%;
            transition: all 1s linear;
            .class {
                width: 20%;
                display: flex;
                justify-content: space-between;
                position: relative;
                .left{
                    width: 50%;
                    border-radius: 36px;
                    max-height: 636px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        margin-bottom: auto;
                    }
                }
                .right {
                    width: 440px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin-right: 20px;
                    p {
                        margin: 24px 0 40px;
                        text-align: left;
                    }
                    .right-grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 48px;
                        .grid {
                            display: grid;
                            align-items: flex-start;
                            svg {
                                width: 32px;
                                height: 32px;
                                path {
                                    fill: var(--primary)
                                };
                            }
                            h6{
                                font-size: 16px;
                                line-height:22.4px;
                                margin: 12px 0 8px;
                                text-align: left;
                                color: var(--text_secondary);
                            }
                            p {
                                margin: 0;
                                font-size: 14px;
                                line-height: 21px;
                            }
                        }
                    }
                    button {
                        margin-top: 56px;
                    }
                }
            }
            .coming-soon {
                display: flex;
                align-items: center;;
                justify-content: center;;
            }
        }
    }
}

.trainers {
    margin-top:160px;
    .trainers-cont {
        h1 {
            text-align: center;
            margin-bottom: 40px;
        }
        .trainers-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .train {
                flex: 0 0 max(280px, 24%);
                margin-bottom: 32px;
                .img-cont {
                    width: 100%;
                    max-width: 306px;
                    height: 306px;
                    overflow: hidden;
                    border-radius: 36px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                text-align: center;
                h5 {
                    margin: 16px 0 4px;
                }
            }
        }
    };
}

.banner {
    margin-top: 160px;
    .banner-cont {
        background: var(--primary);
        border-radius: 36px;
        display: flex;
        height: 389px;
        overflow: hidden;
        .banner-left, .banner-right {
            width: 50%;
            position: relative;
            .banner-bg {
                width: 200px;
                height: 200px;
                position: absolute;
                path {
                    fill: var(--white_100);
                    stroke: var(--white_100);
                }
                z-index: 0;
                opacity: .3;
            }
        }
        .banner-left {
            display: flex;
            align-items: center;
            .banner-left-cont {
                max-width: 448px;
                margin-left: auto;
                margin-right: 33px;
                p {
                    position: relative;
                    padding-left: 48px;
                    display: flex;
                    align-items: center;
                    color: var(--white_70);
                }
                p::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 40px;
                    height: 2px;
                    background: var(--white_70);

                }
                h1, button, a {
                    color: var(--white_100);
                }
                h1 {
                    margin: 8px 0 32px
                }
                .banner-bg {
                    left: -20px;
                    top: calc(50% - 100px);
                    transform: rotate(90deg) scale(1.8);
                }
            }
        }
        .banner-right {
            display: flex;
            justify-content: center;
            position: relative;
            height: 100%;
            img {
                position: absolute;
                width: 50%;
                top: 10%;
                object-fit: cover;
                z-index: 3;
            }
            .banner-bg {
                bottom: -20px;
                transform: scale(3);
            }

        }
    };
}

.pricing {
    margin-top: 120px;
    .pricing-cont {
        display: flex;
        .pricing-left {
            width: 50%;
            & > * {
                max-width: 353px;
            }
            p {
                margin: 32px 0 24px;
            }
            .pricing-list {
                p {
                    margin: 0;
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    margin-bottom: 16px;
                    i {
                        font-size: 24px;
                        color: var(--primary);
                    }
                }
            }
        }
        .pricing-right {
            width: 50%;
            display: grid;
            gap: 16px;
            .price-cat {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 40px;
                border-radius: 24px;
                background: var(--pricing);
                .price-cat-left {
                    h3{
                        margin-bottom: 8px
                    }
                }
                .price-cat-right {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    gap: 32px;
                    .price-fig {
                        h3 {
                            margin-bottom: 8px;
                            color: var(--primary);
                        }
                    }
                    button {
                        border-color: var(--primary);
                        color: var(--primary);
                    }
                }
            }
        }
    };
}

.more {
    margin-top: 160px;
    .more-cont {
        text-align: center;
        overflow: hidden;
        .more-img {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            .img-cont {
                height: 306px;
                overflow: hidden;
                border-radius: 36px;
                img {
                    height: 100%;
                    object-fit: cover
                }
            }

            .insta {
                position: relative;
                cursor: pointer;
            }

            .insta::after {
                content: '\f16d';
                font-family: 'Font Awesome 5 Brands';
                font-weight: 900;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
            }
        
        }
    };
}

.footer {
    margin-top: 160px;
    .footer-cont {
        
        .nav {
            position: relative;
            opacity: 1;
            transition: opacity .2s linear;
            z-index: 99999;
            .nav-cont {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 75px;

                .menu {
                    display: flex;
                    gap: 40px;
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        color: var(--nav_text);
                    }
                }

                .logo {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding: 0 50px;
                    svg {
                        width: 50px;
                        height: 50px;
                        path {
                            fill: var(--primary)
                        }
                    }
                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 8px;
                        height: 100%;
                        p {
                            font-family: "Fjalla One", sans-serif;
                            font-weight: 400;
                            font-size: 24px;
                            color: var(--primary);
                            text-transform: uppercase;
                        }
                        p:first-child {
                            line-height: 10px;
                            font-size: 12px;
                            text-transform: none;
                        }
                    }
                }
            }
        }

        hr {margin-top: 40px;}
        .foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 32px 0 55px;
            h5 {
                color: var(--footer);
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                span {
                    color: var(--nav_text);
                }
            }
            p {
                display: flex;
                gap: 24px;
                i {
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--footer_icon);
                    border-radius: 50%;
                }
            }
        }
    };
}
